#about {
    background-color: rgb(3, 2, 4);
}

.hero {
    float: right !important;
}
.container p, h1 {
    color: white !important;
}
.figure-img {
   height: 450px !important;
}
.form {
    margin-left: 6%;
}
.form-container {
    width: 65%;
    background-color: rgb(174, 154, 204, 0.1);
    border-radius: 20px;
    padding: 15px;
    border: 2px solid rgb(168, 79, 240)
}

.form-group {
    color: white !important;
    padding: 15px;
}

.form-input-label {
    font-size: large;
    font-weight: 600;
}

.form-check-label, .form-text{
    color: white !important;
}

.form-check {
    padding-top: 2% ;
}

.policy {
    color: rgb(167, 102, 227);
    font-style:bold; 
    font-weight: 700;
}
.form-control {
    border-radius: 20px;
    border: 2px solid #8259f5;
}
.form-group, .form-check {
    margin-left: 10% !important;
}

.submit-btn {
    background-color: transparent;
    color: white;
    border: 2px solid #8259f5;
    padding: 10px 20px 10px 20px;
    transition: color 0.3s, border-color 0.3s; 
    cursor: pointer;
    border-radius: 20px;
    width: 20%;
}

.submit-btn:hover {
    background-color: #9f7bff; 
  }

.btn-container {
margin-left: 25% !important;
padding-top: 5% !important;
}

.display-4 {
font-weight: 600;
}

.display-4-span {
font-weight: 800;
color: #da91f4 !important;
}

.lead {
    font-size:x-large;
}

.discord-server-character {
    color: #da91f4 !important;
    font-size: xx-large;
}

.cta {
    font-size: x-large;
}
.row::after {
    content: '';
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;

  }

  [class*="col-"] {
    width: 100%;
  }

/* for desktop */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50% ;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  