
#currencybanner  {
    background-color: rgb(3, 2, 4);
    height: 100%;
    display: flex;
    justify-items:flex-start;
    overflow: scroll;
}

/* .container {
    overflow: auto;
    } */


.cname {
    font-size: 21px;
    font-weight: 600;
    color: rgb(171, 97, 240);
    text-decoration: underline;
}

.currencyticker {
    font-size: 22px;
    Font-weight: 700;
    color: rgb(236, 211, 250);
}

.currencyConversion {
    color: rgb(242, 242, 228);
    padding-left: 15px;
}

.ticker-cards {
    display: flex;
}

