
#currencybanner  {
    background-color: rgb(3, 2, 4);
    height: 100%;
}

.currencybanner {
    display: flex;
    justify-items:flex-start;
    overflow: scroll; 
    border-top: solid 1.5px #ffffff;
    border-bottom: solid 1.5px #ffffff;

}

.container {
    margin: 5px;
}

.usd {
    color: white;
}

.bannerTitle {
    color: rgb(195, 153, 244);
    font-size: 40px;
    font-family: 'Merriweather';
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    }

    .bannerTitle .usd {
        margin-right: 5px; 
      }

.cname {
    font-size: 18px; /*consider using media query to make font size appropriate for smaller screen sizes  */
    font-weight: 600;
    color: rgb(171, 97, 240);
 
    
}

.currencyticker {
    font-size: 22px;
    Font-weight: 700;
    color: rgb(236, 211, 250);
}

.currencyConversion {
    color: rgb(242, 242, 228);
    padding-left: 15px;
}

.ticker-cards {
    display: flex;
}

