#mission{
    background-color: rgb(1, 0, 2);
}

.purple {
    color: rgb(163, 72, 229);
}

.missionTitle {
    will-change: scroll-position;
    color: white;
    font-size: 50px;
    padding-top: 5%;
    margin-left: 10%;
}

.missionTitle2 {
    color: white;
    font-size: 50px;
    padding-top: 5%;
    margin-left: 25%;
}

.missionTitle3 {
    color: white;
    font-size: 50px;
    padding-top: 5%;
    margin-left: 40%;
}

.statement {
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    max-width: 600px;
    margin-left: 15%;
    padding-top: 2%;
}

.statement2 {
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    max-width: 600px;
    margin-left: 30%;
    padding-top: 2%;
}

.statement3 {
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    max-width: 600px;
    margin-left: 45%;
    padding-top: 2%;
}